<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Welcome <%=user%></h1>
	<img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/d4827d17822719.562bf9dfad321.png" alt="">
	<hr>
	
	<form action="products"> 
	<button type="submit">Show Products</button>
	</form>
</body>
</html>